// Custom variables
@import "variables";
@import "grid";

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
}

body {
  background-color: white;
}

::selection {
    background: $color-red;
    color: white;
    text-shadow: none;
 }

 .Site {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 .Site-content {
   flex: 1;
 }

 section {
   padding-left: 8%;
   padding-right: 8%
 }

 .poster_bg {
   background: url(img/devcon_poster.jpg);
   background-position: center;
   background-size: cover;
   height: 100vh;
 }

nav {
  margin-bottom: 13%;

}

.topnav {
  display: flex;
  justify-content: space-around;
}

.logo {
	background-image: url(img/logo.svg);
	background-repeat: no-repeat;
	height: 5.6em;
	width: 8.8em;
  margin-top: 3em;
	float: left;
	cursor: pointer;
}

.logo_blck {
	background-image: url(img/logo_blck.svg);
	background-repeat: no-repeat;
	height: 5.6em;
	width: 8.8em;
  margin-top: 3em;
	float: left;
	cursor: pointer;
}

nav ul {
  list-style: none;
  margin-top: 4em;
}

nav ul li a {
  font-family: aktiv-grotesk, sans-serif;
	font-weight: 700;
	font-size: 2.1em;
	color: $color-white;
  text-decoration: none;
}

nav ul li a:hover {
	color: $color-red;
	padding-bottom: 0.2em;
	border-bottom: 0.2em solid;
	text-decoration: none;
}

nav li.current a {
	padding-bottom: 0.2em;
	border-bottom: 0.2em solid;
	text-decoration: none;
}

.devconlogo {
  display: flex;
  margin: 0 auto 0 auto;
  height: 14em;
  width: 18em;
}

.ctabutton {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 500;
  font-size: 2.1em;
  box-sizing: border-box;
  color: $color-white;
  text-decoration: none;
  cursor: pointer;
  max-width: 180px;
  padding: 1.6rem 4.8rem;
  border: none;
  border-radius: 16px;
  background-color: darken( $color-red, 30%);
  display: block;
  margin: 0 auto;
  text-align: center;
  -webkit-box-shadow: 0px 12px 21px -6px rgba(0,38,49,0.8);
  -moz-box-shadow: 0px 12px 21px -6px rgba(0,38,49,0.8);
  box-shadow: 0px 12px 21px -6px rgba(0,38,49,0.8);
  transition: all 300ms ease-in-out;
}

.ctabutton:hover {
background-color: darken( $color-red, 20%);
}

.footerlogo {
	background-image: url(img/logo_blck.svg);
	background-repeat: no-repeat;
	height: 4.5em;
	width: 8em;
	cursor: pointer;
  display: block;
  margin: 0 auto;
}

footer {
	margin-top: 6%;
}

.footer_navigation ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.footer_navigation ul {
	padding: 0;
	margin-top: 3.6em;
}

.footer_navigation ul li a {
  font-family: aktiv-grotesk, sans-serif;
	font-weight: 700;
	font-size: 1.8em;
	color: $color-black;
  text-decoration: none;
}

.footer_navigation ul li a:hover {
	color: $color-red;
	text-decoration: none;
	padding-top: 0.2em;
	border-top: 0.2em solid;
}

.footer_navigation li.current a {
	color: $color-black;
	padding-top: 0.2em;
	border-top: 0.2em solid;
	text-decoration: none;
}

.footer__links_wrapper {
  display: flex;
  justify-content: space-around;
}

ul.footer__link_list {
  list-style: none;
  padding-left: 0;
  margin-top: 0.6em;
}
.footer__link_list li a{
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 500;
  font-size: 1.4em;
  line-height: 160%;
	color: $color-red;
  text-decoration: none;
}

.footer__link_list li a:hover{
  border-bottom: 1px solid $color-red;
}

ul.logos {
padding-left: 0;
list-style: none;
margin-top: 9em;
}
.logos {
display: flex;
justify-content: space-around;
}

ul.speakers {
  padding-left: 0;
  list-style: none;
}
ul.speakers li {
  margin-bottom: 9em;
}

.spacing {
  margin-top: 2.1em;
}

.speakerimg {
 box-sizing: border-box;
}

.left {
  border-left: 7.2rem solid $color-red;
}

.right {
  border-right: 7.2rem solid $color-blue;
  float: right;
}

.bio {
  margin: 0 auto;
  max-width: 60em;
  // display: inline-block;
}

ul.qa {
  list-style: none;
  padding: 0;
  // margin-top: 13%;
}

ul.program {
  list-style: none;
  padding: 0;
  margin: 0 auto 0 auto;
  text-align: center;
}

h1 {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-size: 7.2em;
  line-height: 125%;
  text-align: center;
	color:$color-black;
  margin-top: 1em;
  margin-bottom: .6em;
}

h2 {
  font-family: courier, sans-serif;
  font-weight: 400;
  font-size: 2.8em;
  line-height: 125%;
	margin-top: 1.2em;
  margin-bottom: 1em;
	color: $color-black;
}

h3 {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-size: 2.8em;
  line-height: 125%;
  margin-top: 1.2em;
  margin-bottom: 1em;
  color: #002026;
}

h4 {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 300;
  font-size: 1.4em;
  line-height: 125%;
  margin-top: 2.1em;
  margin-bottom: 0;
  color: $color-black;
}

p {
  font-family: courier, sans-serif;
  // font-weight: 400;
  font-size: 2.1em;
	line-height: 150%;
	color: $color-black;
}

.center {
  text-align: center;
}

.white {
  color: $color-white
}

.colorblack {
  color: $color-black;
}

.uppercase {
  text-transform: uppercase;
}

.subtext {
  font-size: 2.4em;
  margin-bottom: 4em;
}

.description {
	font-size: 1.8em;
	letter-spacing: 0.06em;
	text-align: center;
	margin-bottom: 3em;
	max-width: 35em;
  padding: 0 1em;
}

.info {
	margin-top: 15em;
	max-width: 35em;
}

.copyright {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  text-align: center;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.textwrapper {
  padding: 0 3.6em;
  border-left: 7.2em solid $color-red;
  max-width: 65em;
  margin-left: auto;
  margin-right: auto;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form {
  box-sizing: border-box;
  margin: 0 0 96px 0;
  max-width: 510px; }

input, textarea, select {
  font-family: courier, sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  border: none;
  border-bottom: 4px solid $color-black;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 42px;
  width: 99%;
  padding: 4px 8px;
  margin-bottom: 8px;
  font-size: 1.8em;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: $color-black;
  vertical-align: middle;
}

textarea {
  height: auto; }

textarea:focus, input:focus, select:focus {
  outline: none;
  box-shadow: none; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $color-black; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: $color-black; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: $color-black; }

:-moz-placeholder {
  /* Firefox 18- */
  color: $color-black; }


.submit {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 500;
  font-size: 1.8em;
  box-sizing: border-box;
  color: $color-white;
  text-decoration: none;
  cursor: pointer;
  max-width: 180px;
  padding: 1.2rem 4.8rem;
  border: none;
  border-radius: 16px;
  background-color: darken( $color-red, 30%);
  display: block;
  text-align: center;
  transition: all 300ms ease-in-out;
}

.submit:hover {
background-color: darken( $color-red, 20%);
}

  /* The side navigation menu */
.hidedesktop  {
  display: none;
}
.hidesmall {
  display: inline-block;
}

.hamburger {
  cursor: pointer;
  font-size: 2.8em;
  font-weight: bold;
  color: $color-white;
  float: right;
  margin-top: 32px;
}
.hamburgerblck {
    cursor: pointer;
    font-size: 2.8em;
    color: $color-black;
    float: right;
    margin-top: 32px;
}

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  right: 0;
  background-color: $color-blue;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.05s;
  /* 0.5 second transition effect to slide in the sidenav */
  // -webkit-box-shadow: -5px 0px 10px 0px rgba(63, 63, 63, 0.2);
  // -moz-box-shadow: -5px 0px 10px 0px rgba(63, 63, 63, 0.2);
  // box-shadow: -5px 0px 10px 0px rgba(63, 63, 63, 0.2);
}

/* The navigation menu links */
.sidenav a {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 500;
  font-size: 1.8em;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: $color-white;
  display: block;
  text-align: center;
  transition: 0.3s; }

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: $color-white }

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 10px;
  font-size: 36px; }


  @media screen and (max-width: 736px) {
    .poster_bg {
      height: auto;
      padding-bottom: 7.2em;
    }
  }

  @media screen and (max-width: 1920px) {
    .devconlogo {
      margin: 0 auto 0 auto;
    }
  }

  @media screen and (max-width: 1440px) {
    nav {
      margin-bottom: 8%;
    }
    .devconlogo {
      margin: 0 auto 0 auto;
    }
    .subtext {
      font-size: 2.1em;
    }
    .devconlogo{
      height: 12em;
      width: 16em;
    }
    h1{
      font-size: 6em;
    }
    h2
    {
      font-size: 2.6em;
    }
  }

@media screen and (max-width: 1366px) , screen and (max-height: 768px) {
  nav {
    margin-bottom: 6%;
  }
  .devconlogo {
    margin: 0 auto 0 auto;
    }
    h1 {
      font-size: 5.5em;
    }
    h2
    {
      font-size: 2.1em;
    }
    .subtext {
      font-size: 1.8em;
    }

  }
@media screen and (max-width: 900px) {
  .topnav  {
    display: none;
  }
  .hidedesktop {
    display: block;
  }
  .hidesmall {
    display: none;
  }
  .logo {
    display: none;
  }
  .devconlogo {
  // margin: 1% auto 0 auto;
  }
}

@media screen and (max-width: 890px) {
  nav ul li a {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 770px) {
	.footer_navigation {
		display: none;
	}
}

@media screen and (max-width: 660px) {
	.logo {
		height: 2.5em;
		width: 26em;
	}
}
