<section>
  <div class="container-fluid">
    <div class="row">
        <ul class="gallery">
          <div class="col col--4-of-12 col--m-1-of-3 col--s-1-of-2">
            <li>
              <img src="img/speakers/Dimitar_Delev.jpg" class="img-responsive" alt="">
            </li>
          </div>
          <div class="col col--4-of-12 col--m-1-of-3 col--s-1-of-2">
            <li>
              <img src="img/speakers/Dimitar_Delev.jpg" class="img-responsive" alt="">
            </li>
          </div>
          <div class="col col--4-of-12 col--m-1-of-3 col--s-1-of-2">
            <li>
              <img src="img/speakers/Dimitar_Delev.jpg" class="img-responsive" alt="">
            </li>
          </div>
          <div class="col col--4-of-12">
            <li>
              <img src="img/speakers/Dimitar_Delev.jpg" class="img-responsive" alt="">
            </li>
          </div>
          <div class="col col--4-of-12">
            <li>
              <img src="img/speakers/Dimitar_Delev.jpg" class="img-responsive" alt="">
            </li>
          </div>
          <div class="col col--4-of-12">
            <li>
              <img src="img/speakers/Dimitar_Delev.jpg" class="img-responsive" alt="">
            </li>
          </div>
        </ul>
    </div>
  </div>
</section>
