<section class="poster_bg">
  <nav class="container-fluid">
    <div class="row">
      <div class="col col--12-of-12">
        <a href="index.html" class="logo"></a>
        <span class="hamburger hidedesktop" onclick="openNav()">☰</span>
        <ul class="topnav">
          <li><a href="about.html">About</a></li>
          <li><a href="speakers.html">Speakers</a></li>
          <li><a href="schedule.html">Schedule</a></li>
          <li><a href="registration.html">Registration</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    </div>

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <a href="about.html">About</a>
      <a href="speakers.html">Speakers</a>
      <a href="schedule.html">Schedule</a>
      <a href="registration.html">Registration</a>
      <a href="faq.html">FAQ</a>
      <a href="contact.html">Contact</a>
    </div>

  </nav>
