<section class="container-fluid">
  <div class="row">
    <div class="col col--10-of-12 col col--centered">
      <h3 class="center uppercase spacing">Partners</h3>
      <ul class="logos">
        <li>
          <img src="img/partnerlogos/1.png" class="img-responsive" style="max-height:123px;" alt="">
        </li>
        <li>
          <img src="img/partnerlogos/2.png" class="img-responsive" style="max-height:138px;" alt="">
        </li>
        <li>
          <img src="img/partnerlogos/1.png" class="img-responsive" style="max-height:138px;" alt="">
        </li>
        <li>
          <img src="img/partnerlogos/1.png" class="img-responsive" style="max-height:138px;" alt="">
        </li>
        <li>
          <img src="img/partnerlogos/2.png" class="img-responsive" style="max-height:138px;" alt="">
        </li>
      </ul>
    </div>
  </div>
</section>
