<section class="container-fluid">
  <div class="row">
    <h3 class="center">Schedule still under construction</h3>
    <div class="col col--4-of-12">
      <ul class="program">
        <li>
          <h3>9:00&ndash;10:00</h3>
          <p>Registration & Coffee</p>
        </li>
        <li>
          <h3>10:00&ndash;10:15</h3>
          <p>Opening</p>
          <p>***</p>
        </li>
        <li>
          <h3>11:00&ndash;11:30</h3>
          <p>The future of the div</p>
          <p class="language">[English]</p>
          <a href="speakers.html#speaker1">Dimitar Delev</a>
          <p>***</p>
        </li>
        </ul>
        </div>
        <div class="col col--4-of-12">
        <ul class="program">
        <li>
          <h3>11:30&ndash;12:30</h3>
          <p>The future of the div 2</p>
          <p class="language">[English]</p>
          <a href="speakers.html#speaker2">Stojan Gancev</a>
          <p>***</p>
        </li>
        <li>
          <h3>12:30&ndash;13:00</h3>
          <p>Coffee Break</p>
          <p>***</p>
        </li>
        <li>
          <h3>13:15&ndash;14:00</h3>
          <p>The future of the div 3</p>
          <p class="language">[English]</p>
          <a href="speakers.html#speaker3">Stefan Janev</a>
          <p>***</p>
        </li>
        <li>
          <h3>14:15&ndash;15:00</h3>
          <p>The future of the div 4</p>
          <p class="language">[English]</p>
          <a href="speakers.html#speaker4">Bojan Bozinovski</a>
          <p>***</p>
        </li>
        <li>
          <h3>15:15&ndash;15:30</h3>
          <p>Lunch Break</p>
          <p>***</p>
        </li>
        </ul>
        </div>
        <div class="col col--4-of-12">
        <ul class="program">
        <li>
          <h3>15:30&ndash;16:00</h3>
          <p>The future of the div 5</p>
          <p class="language">[English]</p>
          <a href="speakers.html#speaker3">Speaker Name</a>
          <p>***</p>
        </li>
        <li>
          <h3>16:00&ndash;16:30</h3>
          <p>The future of the div 6</p>
          <p class="language">[English]</p>
          <a href="speakers.html#speaker1">Speaker Name</a>
          <p>***</p>
        </li>
        <li>
          <h3>16:30&ndash;17:00</h3>
          <p>Coffee Break</p>
          <p>***</p>
        </li>
        <li>
          <h3>17:15&ndash;17:45</h3>
          <p>The future of the div 7</p>
          <p class="language">[English]</p>
          <a href="speakers.html#speaker2">Speaker Name</a>
          <p>***</p>
        </li>
        <li>
          <h3>17:55&ndash;18:30</h3>
          <p>The future of the div 8</p>
          <p class="language">[English]</p>
          <a href="speakers.html#speaker4">Speaker Name</a>
          <p>***</p>
        </li>
        <li>
          <h3>19:00&ndash;19:30</h3>
          <p>Closing</p>
          <p>***</p>
        </li>
        <li>
          <h3>22:00&ndash;02:30</h3>
          <p>Community Event</p>
          <p>***</p>
        </li>

      </ul>

    </div>
  </div>
</section>
