<section class="container-fluid">
  <div class="row">
    <div class="col col--12-of-12">
      <ul class="program">
        <li>
          <h3>9:00&ndash;10:00</h3>
          <p>Registration & Coffee</p>
        </li>
        <li>
          <h3>10:00&ndash;10:15</h3>
          <p>Opening</p>
        </li>
        <li>
          <h3>11:15&ndash;11:00</h3>
          <p>The future of the div - [EN]</p>
          <a href="#"><p>Speaker Name</p></a>
        </li>
        <li>
          <h3>11:15&ndash;11:00</h3>
          <p>The future of the div 2 - [EN]</p>
          <a href="#"><p>[Speaker Name]</p></a>
        </li>
        <li>
          <h3>10:15&ndash;11:00</h3>
          <p>Coffee Break</p>
        </li>
        <li>
          <h3>11:15&ndash;11:00</h3>
          <p>The future of the div 3- [EN]</p>
          <a href="#"><p>[Speaker Name]</p></a>
        </li>
        <li>
          <h3>11:15&ndash;11:00</h3>
          <p>The future of the div 4 - [EN]</p>
          <a href="#"><p>[Speaker Name]</p></a>
        </li>
        <li>
          <h3>10:15&ndash;11:00</h3>
          <p>Lunch Break</p>
        </li>
        <li>
          <h3>11:15&ndash;11:00</h3>
          <p>The future of the div 5 - [EN]</p>
          <a href="#"><p>[Speaker Name]</p></a>
        </li>
        <li>
          <h3>11:15&ndash;11:00</h3>
          <p>The future of the div 6 - [EN]</p>
          <a href="#"><p>{Speaker Name}</p></a>
        </li>
        <li>
          <h3>10:15&ndash;11:00</h3>
          <p>Coffee Break</p>
        </li>
        <li>
          <h3>11:15&ndash;11:00</h3>
          <p>The future of the div 7- [EN]</p>
          <a href="#"><p>[Speaker Name]</p></a>
        </li>
        <li>
          <h3>11:15&ndash;11:00</h3>
          <p>The future of the div 8 - [EN]</p>
          <a href="#"><p>[Speaker Name]</p></a>
        </li>
        <li>
          <h3>10:15&ndash;11:00</h3>
          <p>Closing</p>
        </li>
        <li>
          <h3>10:15&ndash;11:00</h3>
          <p>Community Event</p>
        </li>

      </ul>
    </div>
  </div>
</section>
