<section class="container-fluid">
  <div class="row">
    <h3 class="center">Schedule still under construction</h3>
    <div class="col col--4-of-12">
      <ul class="program">
        <li>
          <h3>9:00&ndash;10:00</h3>
          <p>Registration & Coffee</p>
          <p>***</p>
        </li>
        <li>
          <h3>10:00&ndash;10:15</h3>
          <p>Opening</p>
          <p>***</p>
        </li>
        <li>
          <h3>10:15&ndash;11:00</h3>
          <p>TBD (React)</p>
          <p class="language">[English]</p>
          <a href="speakers.html#speaker1">Dimitar Delev</a>
          <p>***</p>
        </li>
        <li>
          <h3>11:00&ndash;11:45</h3>
          <p>TBD (Machine Learning)</p>
          <p class="language">[English]</p>
          <a href="speakers.html#speaker2">Stojan Ganchev</a>
          <p>***</p>
        </li>
        <li>
          <h3>11:45&ndash;12:00</h3>
          <p>Coffee Break</p>
          <p>***</p>
        </li>
      </ul>
    </div>
    <div class="col col--4-of-12">
      <ul class="program">
        <li>
          <h3>12:00&ndash;12:45</h3>
          <p>TBD (loT)</p>
          <p class="language">[English]</p>
          <a href="speakers.html#speaker3">Stefan Janev</a>
          <p>***</p>
        </li>
        <li>
          <h3>12:45&ndash;13:30</h3>
          <p>TBD (React)</p>
          <p class="language">[English]</p>
          <a href="speakers.html#speaker4">Bojan Bozinovski</a>
          <p>***</p>
        </li>
        <li>
          <h3>13:30&ndash;14:15</h3>
          <p>Lunch Break</p>
          <p>***</p>
        </li>
        <li>
          <h3>14:15&ndash;15:00</h3>
          <p>TBD</p>
          <p class="language">[English]</p>
          <a href="speakers.html#speaker4">TBD</a>
          <p>***</p>
        </li>
        <li>
          <h3>15:00&ndash;15:45</h3>
          <p>TBD</p>
          <p class="language">[English]</p>
          <a href="speakers.html#speaker4">TBD</a>
          <p>***</p>
        </li>
        <li>
          <h3>15:45&ndash;16:00</h3>
          <p>Coffee Break</p>
          <p>***</p>
        </li>
      </ul>
        </div>
        <div class="col col--4-of-12">
        <ul class="program">
          <li>
            <h3>16:00&ndash;16:45</h3>
            <p>TBD</p>
            <p class="language">[English]</p>
            <a href="speakers.html#speaker4">TBD</a>
            <p>***</p>
          </li>
          <li>
            <h3>16:45&ndash;17:30</h3>
            <p>TBD</p>
            <p class="language">[English]</p>
            <a href="speakers.html#speaker4">TBD</a>
            <p>***</p>
          </li>
          <li>
            <h3>17:30&ndash;19:00</h3>
            <p>Closing Party</p>
            <p>***</p>
          </li>
          <li>
            <h3>22:00&ndash;02:30</h3>
            <p>Community Event</p>
            <p>***</p>
          </li>
      </ul>
    </div>
  </div>
</section>
