<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col col--12-of-12">
        <ul class="speakers">
          <li>
            <div class="row" id="speaker1">
              <div class="col col--6-of-12">
                <img src="img/speakers/Dimitar_Delev.jpg" class="img-responsive speakerimg left" alt="">
              </div>
              <div class="col col--6-of-12">
                <div class="bio">
                  <h3>Dimitar Delev</h3>
                  <p>A somewhat experienced software developer specialized in JavaScript with a passion for functional programming and avid fan of the latest EcmaScript standards and React and a love for learning new (and old) exciting things.</p>
                  <p>I aim to help and develop the community through lectures and tech talks. To achieve this, I have participated in local community events such as Beer&Code, and held courses in Brainster and within the confines of my current employer Melon Tech.</p>
                  <p>In addition to this I am a part of the organization and conduction of a local meet up group called BeerJS Skopje, which is tied to the global organization that promotes local meetups of JavaScript developers.</p>
                  <p>I also like to spend time on tabletop roleplaying games, board games, the guitar, biking, painting, drawing as well as cooking. I am also a painter and collector of miniatures in my spare time.</p>
                  <p>@delevarius on Twitter, Instagram and Github</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="row" id="speaker2">
              <div class="col col--6-of-12 hidedesktop">
                <img src="img/speakers/Stojan_Gancev.jpg" class="img-responsive speakerimg rightphone" alt="">
              </div>
              <div class="col col--6-of-12">
                <div class="bio">
                  <h3>Stojan Gancev</h3>
                  <p>Experienced in leading distributed teams, working with startups, delivering innovative products by adapting new technologies and concepts. Thinker, hardworking, goal-oriented, with a clear and concise vision of future.</p>
                  <p>Specialties: Problem Solving, Optimization, Product Development, C++, Node.js, Protocols, Machine learning, Computer Vision, Sensor networks.</p>
                </div>
              </div>
              <div class="col col--6-of-12 hidesmall">
                <img src="img/speakers/Stojan_Gancev.jpg" class="img-responsive speakerimg right" alt="">
              </div>
            </div>
          </li>
          <li>
            <div class="row" id="speaker3">
              <div class="col col--6-of-12">
                <img src="img/speakers/Stefan_Janev.jpg" class="img-responsive speakerimg left" alt="">
              </div>
              <div class="col col--6-of-12">
                <div class="bio">
                  <h3>Stefan Janev</h3>
                  <p>Stefan Janev is working as an Android developer at Melon. He is Embedded Systems enthusiast with more than 8 years of experience in designing embedded systems and mobile services for diverse technology domains for leading companies in mobile technology. For the past two years, Stefan’s focus has been mainly on Android application development, mostly connected to IoT ecosystems.
During his engagement in design and development of mobile application, he has been focused on creating sports entertainment application that involved bluetooth devices and required battery optimized application with clean code architecture.
</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="row" id="speaker4">
              <div class="col col--6-of-12 hidedesktop">
                <img src="img/speakers/Bojan_Bojinovski.jpg" class="img-responsive speakerimg rightphone" alt="">
              </div>
              <div class="col col--6-of-12">
                <div class="bio">
                  <h3>Bojan Bozinovski</h3>
                  <p>Experienced C#, JavaScript developer and technical lead. </p>
                  <p>Worked on web, mobile and desktop solutions.</p>
                  <p>Likes React , .NET, electron, cross-platform technologies.</p>
                  <p>Specialty web, 2D, 3D rich graphics and performance.</p>
                </div>
              </div>
              <div class="col col--6-of-12 hidesmall">
                <img src="img/speakers/Bojan_Bojinovski.jpg" class="img-responsive speakerimg right" alt="">
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
