
@{
    ViewBag.Title = "Not found";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section class="container-fluid">
    <div class="row">
        <div class="col col--12-of-12">
            <h1 class="center text-danger">404</h1>
            <h2 class="center">Ooops, we can't find requested page ! </h2>
        </div>
    </div>
</section>