
@{
    ViewBag.Title = "RegistrationsLimit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section class="container-fluid">
    <div class="row">
        <div class="col col--12-of-12">
            <h1 class="center text-danger">DevConf Skopje 2019</h1>
            <h2 class="center">Sorry, but there are no free registrations ! </h2>
        </div>
    </div>
</section>