
@{
    ViewBag.Title = "Lectures";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="row">
    <div class="col col--12-of-12">
        <ul class="speakers">
            <li>
                <div class="row">
                    <div class="col col--7-of-12 col col--centered">
                        <div class="video-responsive">
                            <!-- <iframe class="speakerimg left" width="560" height="315" src="https://www.youtube.com/embed/OJifDjk79eg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/BcHEHoAFtqA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <!-- <div class="col col--7-of-12">
                      <div class="bio">
                        <h3>React Hooks. What, how, and why.</h3>
                          <p>Dimitar Delev</p>
                      </div>
                    </div> -->
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col col--7-of-12 col col--centered">
                        <div class="video-responsive">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/2Sk7rLEnxNw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col col--7-of-12 col col--centered">
                        <div class="video-responsive">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/1xR1yM7s_CE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col col--7-of-12 col col--centered">
                        <div class="video-responsive">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/qwbUGEmy9ng" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col col--7-of-12 col col--centered">
                        <div class="video-responsive">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/kPJKtw07TrI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col col--7-of-12 col col--centered">
                        <div class="video-responsive">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/0PxD35iILpk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col col--7-of-12 col col--centered">
                        <div class="video-responsive">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/hDOjmYl1EPc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col col--7-of-12 col col--centered">
                        <div class="video-responsive">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/2TfkvkuSTy8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>