
@{
    ViewBag.Title = "Speakers";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="row">
    <div class="col col--12-of-12">
        <ul class="speakers">
            <li>
                <div class="row" id="speaker1">
                    <div class="col col--6-of-12">
                        <img src="~/Content/images/speakers/1.jpg" class="img-responsive speakerimg left" alt="">
                    </div>
                    <div class="col col--6-of-12">
                        <div class="bio">
                            <h3>Jonny Jonny</h3>
                            <p>Geometry, metrics, punctuations and OpenType features have been updated to support a wide range of projects such as Environmental Signage, textface for books and magazines, Interface, Websites and Mobile Applications.</p>
                            <p>***This typeface may be used in personal and commercial projects***</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="row" id="speaker2">
                    <div class="col col--6-of-12 hidedesktop">
                        <img src="img/speakers/2.jpg" class="img-responsive speakerimg rightphone" alt="">
                    </div>
                    <div class="col col--6-of-12">
                        <div class="bio">
                            <h3>Jonny Jonny</h3>
                            <p>Geometry, metrics, punctuations and OpenType features have been updated to support a wide range of projects such as Environmental Signage, textface for books and magazines, Interface, Websites and Mobile Applications.</p>
                            <p>***This typeface may be used in personal and commercial projects***</p>
                        </div>
                    </div>
                    <div class="col col--6-of-12 hidesmall">
                        <img src="~/Content/images/speakers/2.jpg" class="img-responsive speakerimg right" alt="">
                    </div>
                </div>
            </li>
            <li>
                <div class="row" id="speaker3">
                    <div class="col col--6-of-12">
                        <img src="~/Content/images/speakers/3.jpg" class="img-responsive speakerimg left" alt="">
                    </div>
                    <div class="col col--6-of-12">
                        <div class="bio">
                            <h3>Jonny Jonny</h3>
                            <p>Geometry, metrics, punctuations and OpenType features have been updated to support a wide range of projects such as Environmental Signage, textface for books and magazines, Interface, Websites and Mobile Applications.</p>
                            <p>***This typeface may be used in personal and commercial projects***</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="row" id="speaker4">
                    <div class="col col--6-of-12 hidedesktop">
                        <img src="img/speakers/4.jpg" class="img-responsive speakerimg rightphone" alt="">
                    </div>
                    <div class="col col--6-of-12">
                        <div class="bio">
                            <h3>Jonny Jonny</h3>
                            <p>Geometry, metrics, punctuations and OpenType features have been updated to support a wide range of projects such as Environmental Signage, textface for books and magazines, Interface, Websites and Mobile Applications.</p>
                            <p>***This typeface may be used in personal and commercial projects***</p>
                        </div>
                    </div>
                    <div class="col col--6-of-12 hidesmall">
                        <img src="~/Content/images/speakers/4.jpg" class="img-responsive speakerimg right" alt="">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>